@model IEnumerable <WebApplication1.Models.ViewModels.Pages.PageVM>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a href="/@item.Slug" class="nav-link">@item.Title</a>
    </li>
}
